*{
    /* outline: none; */
}

/* MODAL background) */
.modal1 {
    display: block;
    position: fixed;
    z-index: 300;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.8);
    float: left;
    /* display: block; */
}

.aparecer-modal{
    display: block;
}

.sumir-modal{
    display: none;
}

  /* Modal Conteudo da caixa*/
  .modal-conteudo {
    background-color: #fff;
    margin: 6% auto;
    /* padding-left: 4px; */
    border: 1px solid #888;
    width: 32%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gayathri', sans-serif;
}

.barra-cima {
    /* background-image: linear-gradient(#f58a1f, #005594); */
    background-color: #f58a1f;
    width: 100%;
    height: 70px;
}

.logar-modal {
    margin-right: 34px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 131px;
    height: 49px;
    position: relative;
    border-radius: 10px;
    /* background-image: linear-gradient(to right, #f58a1f , #005594); */
    background-color: #f58a1f;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -0.5px;
    top: -18px;
    color: #fff;
    border: 1px solid transparent;
}

.logar-modal:hover {
    transform: scale(1.1);
    /* background-image: linear-gradient(to right, #f58a1f, #005594); */
    background-color: #005594;
    transition-duration: 0.3s;
}

  .logar-modal:focus {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  /* Fechar o modal no botao X */
  .close-modal {
    margin-right: -9px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 131px;
    height: 49px;
    position: relative;
    border-radius: 10px;
    /* background-image: linear-gradient(to right, #f58a1f , #005594); */
    background-color: #f58a1f;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -0.5px;
    top: -18px;
    color: #fff;
    border: 1px solid transparent;
}
  
.close-modal:hover {
    transform: scale(1.1);
    /* background-image: linear-gradient(to right, #f58a1f, #005594); */
    background-color: #005594;
    transition-duration: 0.3s;
}

  .close-modal:focus {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }


#btn-cima {
    border: none;
    width: 229px;
    position: relative;
    height: 50px;
    font-size: 21px;
    margin-left: -5px;
    cursor: pointer;
    background-image: linear-gradient(#FFDA52, #fff);
    box-shadow: 2px 2px 5px #FFDA52;
    letter-spacing: 1.5px;
    color: #212121;
    font-weight: bold;
}

.logar:hover{
    transform: scale(0.9);
    transition: 0.1s;
    border: 1px black solid;
}

.logar-primeiro:hover{
    transform: scale(0.9);
    transition: 0.1s;
    border: 1px black solid;
}

.logar-primeiro > a{
    color: #212121;
    font-weight: bold;
    font-size: 21px;
}


.cx-inteira-contato form {
    margin: 26px auto;
    text-align: center;
    /* max-width: 230px; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 139px;
    flex-direction: column;
}

form .input-login {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 12px;
}

form .input-senha {
    width: 300px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.input-login:focus{
    box-shadow: 2px 3px 1px #616161b5;
}

.input-senha:focus{
    box-shadow: 2px 3px 1px #616161b5;
}

.login-label{
    line-height: 0.7;
    font-size: 20px;
    color: #616161;
    letter-spacing: 0.4px;
}
.senha-label{
    line-height: 1;
    font-size: 20px;
    color: #616161;
    letter-spacing: 0.4px;
}

.cx-inteira-contato ul {
    list-style: none;
    font-size: 20px;
    font-family: 'Gayathri', sans-serif;
    position: relative;
    top: -36px;
    color: #545454;
    left: -11%;
}

ul li > a{
    text-decoration: none;
    color: #616161;
}

ul li > a:hover{
    text-decoration: none;
    color: #616161;
}

.cx-inteira-contato ul li {
    font-weight: bold;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    margin-left: 12%;
}

.titulo-contato {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 0.5;
    color: #545454;
    margin-top: 5%;
    margin-right: -9px;
}

.subtitulo-modal {
    font-size: 14px;
    letter-spacing: 1px;
    color: #545454;
}



/* MODAL DE REGISTRO */

.modal-conteudo-reg {
    background-color: #fff;
    margin: 3% auto;
    /* padding-left: 4px; */
    border: 1px solid #888;
    width: 32%;
    height: 700px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gayathri', sans-serif;
}

.aparecer-modalRegistro{
    display: block;
}

.sumir-modalRegistro{
    display: none;
}

.logar-modal2 {
    margin-right: 34px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 131px;
    height: 49px;
    position: relative;
    border-radius: 10px;
    /* background-image: linear-gradient(to right, #f58a1f , #005594); */
    background-color: #f58a1f;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -0.5px;
    top: -18px;
}

.logar-modal2:hover {
    transform: scale(1.1);
    /* background-image: linear-gradient(to right, #f58a1f, #005594); */
    background-color: #005594;
    transition-duration: 0.3s;
}

  .logar-modal2:focus {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  /* Fechar o modal no botao X */
  .close-modal2 {
    margin-right: -9px;
    margin-bottom: 30px;
    cursor: pointer;
    width: 131px;
    height: 49px;
    position: relative;
    border-radius: 10px;
    /* background-image: linear-gradient(to right, #f58a1f , #005594); */
    background-color: #f58a1f;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: -0.5px;
    top: -18px;
}
  
.close-modal2:hover {
    transform: scale(1.1);
    /* background-image: linear-gradient(to right, #f58a1f, #005594); */
    background-color: #005594;
    transition-duration: 0.3s;
}

  .close-modal2:focus {
    color: #2e2e2e;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }